* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c41313;
  color: #fff;
  padding: 10px 50px;
}
.navbar__navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  gap: 10px;
}

.navbar__link:hover {
  opacity: 70%;
}

.home__container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.home__title {
  margin-top: 50px;
  color: #141414;
  font-weight: 500;
}
.home__sub-title {
  font-weight: 700;
}
